@model Lab07.Models.Computer

@{
    ViewData["Title"] = "Edit";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Computer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" action="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <partial name="_PVCreateEdit" />

            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <img src="~/@Url.Content(Model.Photo)" width="75">
                <input type="file" name="file" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

