@model Lab03.Models.Account
@{
    ViewData["Title"] = "Details";
}

<h1>Details of @Html.DisplayNameFor(model => model.AccountNo)</h1>
<h1>PinCode: @Html.DisplayNameFor(model => model.PinCode)</h1>
<h1>Address: @Html.DisplayNameFor(model => model.Address)</h1>

